doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    title Everyday
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="photoswipe/photoswipe.css")
  body
    section#welcome(style="display:none")
      h1 Everyday
    section#wrapper
    script(src="js/jquery.min.js")
    script(src="js/jquery.touchSwipe.min.js")
    script(src="js/react.js")
    script(src="js/JSXTransformer.js")
    script(src="js/moment.min.js")
    script(src="photoswipe/photoswipe.min.js")
    script(src="photoswipe/photoswipe-ui-default.min.js")
    script(type="text/jsx" src="js/photoswipe-root.jsx")
    script(type="text/jsx" src="js/page.jsx")
    script(type="text/jsx" src="js/script.jsx")
