$background = #eee

html, body
  background-color $background
  position relative
  width 100%
  height 100%
  margin 0
  padding 0

section
  width 100%
  height 100%
  position relative

#welcome
  h1
    margin 0
    padding 0
    height 100%
    line-height 100vh
    text-align center
    
#wrapper
  overflow hidden
  position relative
  #add
    width 1.5em
    height 1.5em
    bottom 1em
    right 1em
    position absolute
    border-radius 3em
    background red
    color white
    font-size 2em
    line-height 1.5em
    text-align center
    text-decoration none
    z-index 10

.page
  position absolute
  top 0
  transition left .5s
  .load-mask
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    display none
    &.loading
      display block
  .wrapper
    height 100%
    width 100%
    .gallery
      width 100vw
      height 75vw
      margin 0
      padding 0
      list-style none
      background-color $background - #555
      overflow hidden
      position relative
    .meta
      margin-top .5em
      padding-left .5em
      font-weight 700
    .content
      padding .5em
      overflow-y auto
      overflow-x hidden
      p
        margin 0
        line-height 1.5em
    .touch-mask
      opacity 0
      position absolute
      bottom 0
      left 0
      height calc(100vh - 75vw)
      width 100vw

#login
  padding-top 3em
  background-color #eee
  h1
    text-align center
    font-weight 300
  #login-wrapper
    width 80%
    background-color white
    margin auto
    padding 1em
    label, input, button
      display block
    label
      color #c00
    input, button
      font-size 1em
      padding .3em
      outline 0
      width 100%
      margin-bottom 1em
      border none
      border-bottom 1px solid #900
      box-sizing border-box
    button
      background-color #900
      color white
      margin-bottom .5em
      &:hover, &:active
        background-color #500

#upload
  #new-content
    display block
    width 100%
    box-sizing border-box
    height 30vh
    font-size 1em
    padding 1em
  button
    display block
    margin 1em
    border 0
    outline 0
    width calc(100% - 2em)
    font-size 1.2em
    padding .3em
  #submit
    background-color #c00
    color white
  .img-list-outer
    width 100%
    height 1.5em
    margin-bottom .3em
    position relative
    .img-list-inner
      width 0
      display inline-block
      float left
      height 1.5em
      background-color blue
      transition all .3s
    .img-list-text
      position absolute
      color white
      top 0
      left 0
      height 1.5em
      line-height 1.5em